<div class="dom-counter">
    <h1>{{counter.count}}</h1>
    <form>
    <button class="decrement" name="-" type="submit"/>-</button>
    <button class="increment" name="+" value="+" />+</button>
    </form>
</div>
