<div class="dom-page">
    {% include './header.j2' %}
    {% if page == 'counter' %}
        {% include './counter.j2' %}
    {% elif page == 'yesno' %}
        {% include './yesno.j2' %}
    {% endif %}
</div>
